<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="fragments/header :: top">Header TODO</header>
<section>
    <h1 th:text="|Welcome ${name}!|">Welcome $doctorname</h1>
    <h3 th:text="|Your number is ${number}|">Your number is $doctornumber</h3>
</section>
<footer  th:replace="fragments/footer :: bottom">Footer TODO</footer>
</body>
</html>