<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <nav>
        <span>Doctor Secret Service</span>
        <a href="/">Sign In</a>
    </nav>
</header>
<ul class="doctor-list">
    <li><a href="/doctor/?number=1&name=William%20Hartnell">Doctor 1</a></li>
    <li><a href="/doctor/?number=2&name=Patrick%20Troughton">Doctor 2</a></li>
    <li><a href="/doctor/?number=3&name=Jon%20Pertwee">Doctor 3</a></li>
    <li><a href="/doctor/?number=4&name=Tom%20Baker">Doctor 4</a></li>
    <li><a href="/doctor/?number=5&name=Peter%20Davison">Doctor 5</a></li>
    <li><a href="/doctor/?number=6&name=Colin%20Baker">Doctor 6</a></li>
    <li><a href="/doctor/?number=7&name=Sylvester%20McCoy">Doctor 7</a></li>
    <li><a href="/doctor/?number=8&name=Paul%20McGann">Doctor 8</a></li>
    <li><a href="/doctor/?number=9&name=Christopher%20Eccleston">Doctor 9</a></li>
    <li><a href="/doctor/?number=10&name=David%20Tennant">Doctor 10</a></li>
    <li><a href="/doctor/?number=11&name=Matt%20Smith">Doctor 11</a></li>
    <li><a href="/doctor/?number=12&name=Peter%20Capaldi">Doctor 12</a></li>
    <li><a href="/doctor/?number=13&name=Jodie%20Whittaker">Doctor 13</a></li>
    <li><a href="/doctor/">Unknown Doctor</a></li>
</ul>
<footer>
    <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">TARDIS</a></li>
    </ul>
    <span>Copyright BBC/Terry Nation 1963</span>
</footer>
</body>
</html>
